@{
    //load file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@using webbanhang.Models
@using System.IO
@functions{
    public MyDBContext db = new MyDBContext();
   
}
<div class="col-md-12">
    <div style="margin-bottom:10px;">
        <a href="/Admin/Orders" class="btn btn-danger">Quay lại</a>&nbsp;&nbsp;
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Thong Ke</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th style="width:100px;">Quantity</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                           @item.CustomerId 
                        </td>
                        <td style="text-align:center;">@item.Price</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
