@{
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

@{
    string _Name = Model != null ? Model.Name : "";
    string _Email = Model != null ? Model.Email : "";
    string _Password = Model != null ? Model.Password : "";
}

<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">Create Update</div>
        <div class="panel-body">
            <form method="post" action="@ViewBag.action">
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Name</div>
                    <div class="col-md-10">
                        <input type="text" value="@_Name" name="Name" class="form-control" required>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Email</div>
                    <div class="col-md-10">
                        @{
                            string strRequired = Model != null ? "disabled" : "required";
                        }
                        <input type="email" value="@_Email" name="Email" @strRequired class="form-control" @* required *@>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                @{
                    string strPlaceHolder = Model != null ? "placeholder='Không đổi password thì không nhập thông tin vào ô textbox này'" : "required";

                }
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Password</div>
                    <div class="col-md-10">
                        <input type="password" name="Password" class="form-control" @Html.Raw(strPlaceHolder)>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <input type="submit" value="Process" class="btn btn-primary">
                    </div>
                </div>
                <!-- end rows -->
            </form>
        </div>
    </div>
</div>