@{
    //import file Layout.cshtml vào đây
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@{
    string _Name = Model != null ? Model.Name : "";
    string _Description = Model != null ? Model.Description : "";
    string _Content = Model != null ? Model.Description : "";
    int _Hot = Model != null ? Model.Hot : 0;
  
    string _Photo = Model != null ? Model.Photo : "";
}
@using webbanhang.Models


<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">Create update</div>
        <div class="panel-body">
            <!-- Chú ý: muốn upload được file thì phải có thuộc tính enctype="multipart/form-data" -->
            <form method="post" enctype="multipart/form-data" action="@ViewBag.action">
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Name</div>
                    <div class="col-md-10">
                        <input type="text" value="@_Name" name="Name" class="form-control" required>
                    </div>
                </div>
                <!-- end rows -->
      
              
             
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        @{
                            string str_checked_hot = _Hot == 1 ? "checked" : "";
                        }
                        <input type="checkbox" @str_checked_hot name="Hot" id="Hot"> <label for="Hot">Hot</label>
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->

                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Photo</div>
                    <div class="col-md-10">
                        <input type="file" name="Photo">
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Description</div>
                    <div class="col-md-10">
                        <textarea name="Description" id="Description">@_Description</textarea>
                        

                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2">Content</div>
                    <div class="col-md-10">
                        <textarea name="Content" id="Content">@_Content</textarea>
                     
                    </div>
                </div>
                <!-- end rows -->
                <!-- rows -->
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <input type="submit" value="Process" class="btn btn-primary">
                    </div>
                </div>
                <!-- end rows -->
            </form>
        </div>
    </div>
</div>