@{
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@using webbanhang.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<ItemNews>

<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/News/Create" class="btn btn-primary">Add</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List News</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th style="width : 100px ">Image</th>
                    <th>Name</th>
                    <th style="width : 80px ">Hot</th>
                    <th style="width : 80px "></th>
                </tr>
                @foreach (var row in Model)
                {
                    <tr>
                        <td>
                            @if (row.Photo != "")
                            {
                                <img src="~/Upload/News/@row.Photo" style="width:100px"/> 
                            }
                        </td>
                        <td>
                            @row.Name
                        </td>
                    
                        <td style="text-align: center">
                            @if(row.Hot == 1)
                            {
                                <span>Hot</span>
                            }
                        </td>
                        <td>
                            <a href="/Admin/News/Update/@row.Id">Edit</a>
                            <a href="/Admin/News/Delete/@row.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                        </td>
                    </tr>
                }
                @*  <tr>
                <td>list fullname</td>
                <td>list email</td>
                <td style="text-align:center;">
                <a href="#">Edit</a>&nbsp;
                <a href="#" onclick="return window.confirm('Are you sure?');">Delete</a>
                </td>
                </tr> *@
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @Html.PagedListPager(Model, page => Url.Action("Read", new { page = page, a = 1, b = 2 }))
        </div>
    </div>
</div>